:root{
  --mx-menu-hover-backgroud: #E3EBFF !important;
}

.drag-area {
  -webkit-app-region: drag;
}
.no-drag-area {
  -webkit-app-region: no-drag;
}

// 不能选中
.can-not-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// 超链接样式
.a {
  text-decoration: none;
  color: #fff;

  &:link {
    color: #fff;
  }

  /* 未访问的链接 */
  &:visited {
    color: #bfbfbf;
  }

  /* 已访问的链接 */
  &:hover {
    color: #42b983;
  }

  /* 鼠标移动到链接上 */
  &:active {
    color: #ff00ff;
  }

  /* 选定的链接 */
}

.a_download {
  text-decoration: none;
  color: #bfbfbf;

  &:link {
    color: #bfbfbf;
  }

  /* 未访问的链接 */
  &:visited {
    color: #bfbfbf;
  }

  /* 已访问的链接 */
  &:hover {
    color: #bfbfbf;
  }

  /* 鼠标移动到链接上 */
  &:active {
    color: #bfbfbf;
  }

  /* 选定的链接 */
}

// 文字超出显示省略号
.ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// scroll
.scroll {
  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #dedede;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

  }
}

.scroll2 {
  &::-webkit-scrollbar {
    width: 8px;
    background-color:transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color:#f3f3f3;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.scroll3 {
  &::-webkit-scrollbar {
    width: 8px;
    background-color:transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color:#f7f7f7;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}


/* 撑满屏幕 */
.page-fixed{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  box-sizing: border-box;
 }

.animated{
	animation-duration: .3s;
}

/* 禁止选中文本 */

.usn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


/* 强制不换行 */

.wn {
    word-wrap: normal;
    white-space: nowrap;
}


/* 强制换行 */

.wb {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

/*多行文字溢出 适用于webkit内核和移动端 */

.wess {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

/*多行文字溢出 适用于webkit内核和移动端 */

.wes {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


/*垂直居中*/

.layout-qz {
    display: flex;
    align-items: center;
}


/*左右居中*/

.layout-zy {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*两边排列*/

.layout-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*上下排列*/

.layout-sx {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*横向左右垂直居中*/

.layout-rc {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*横向靠左居中*/
.layout-lc {
  display: flex;
  justify-content: left;
  align-items: center;
}

/*横向靠左居中*/
.layout-lcn {
  display: flex;
  justify-content: left;
}

/*横向靠左*/
.layout-ac {
  display: flex;
  justify-content: left;
}

/*横向靠右*/
.layout-rcn {
  display: flex;
  justify-content: flex-end;
}

/*横向靠右居中*/
.layout-cr {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


/*纵向左右垂直居中*/

.layout-cc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*纵向左右居中*/
.layout-sc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-bc {
  display: flex;
  flex-direction: column;
  align-items: left;
}

/*清除浮动*/

.clearfix::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}


/*溢出部分省略号显示*/

.ellipsis {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.wh100 {
    width: 100%;
    height: 100%;
}

.w100 {
    width: 100%;
}

.h100{
    height: 100%;
}

.full {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.top-right-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}
.custom-tree-node {
  flex: 1;
}

.red {
  color: #F54A45;
}
