html,
body {
  // min-width: 1400px;
  // min-height: 720px;
  //filter: grayscale(95%);
}



// 适配大屏
.big-screen {
  width: 100% !important;
  height: 100% !important;

  .login-page {
    .login-page-form {
      /*position: absolute;
      right: 10%;
      top: 10%;*/
    }
  }
}

.circle-item {
  margin-top: 10px;
  border-bottom: #dcdfe6 solid 1px;

  &>div {
    width: 98%;
    margin-left: 1%;
    font-size: 16px;
  }

  .circle-text {
    line-height: 30px;
    font-size: 14px;
  }

  .circle-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;

    .friend-circle-img {
      object-fit: cover;
      background: rgba($color: #000000, $alpha: 0.3);
      cursor: pointer;
      width: 80%;
    }

    .friend-circle-img-2 {
      width: 40%;
    }

    .friend-circle-img-3 {
      width: 90px;
      height: 90px;
      margin: 5px;
    }
  }

  .circle-video {
    width: 98%;
    display: flex;
    justify-content: center;

    .video {
      width: auto;
      height: auto;
      min-width: 30%;
      max-width: 80%;
      max-height: 300px;
    }
  }

  .circle-link {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      width: 100px;
      height: 100px;
    }

    .circle-link-description {
      height: 30px;
      line-height: 30px;
      font-size: 16px;
      font-weight: 900;
      margin-left: 10px;
      margin-right: 10px;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .time-operation {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .operation-btns {
      .el-button {
        padding: 5px;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .likes-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: white;
    position: relative;
    height: 40px;
    margin-bottom: 10px;

    i {
      font-size: 14px;
      color: red;
      margin-right: 5px;
      margin-left: 5px;
    }

    &>div {
      flex: 1 1 auto;
      display: flex;
      align-items: center;

      div {
        display: flex;
        flex-wrap: wrap;

        span {
          font-size: 14px;
          line-height: 30px;
        }

        img {
          height: 25px;
          width: 25px;
          margin: 5px 5px;
          transition: all 0.6s;
          cursor: pointer;

          &:hover {
            transform: scale(2);
          }
        }
      }
    }
  }

  .comment-box {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;

    .every-comment {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 1px;

      img {
        height: 40px;
        width: 40px;
        margin: 5px 5px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
      }

      .comment-info {
        flex: 1 1 auto;
        overflow: hidden;

        .name-time {
          display: flex;
          height: 20px;
          line-height: 20px;
          justify-content: space-between;

          span:nth-child(1) {
            // width: 130px;
            font-size: 12px;
            color: #5f739a;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          span:nth-child(2) {
            font-size: 12px;
            text-align: center;
            color: #b2b2b2;
          }
        }

        .reply-1 {
          flex: 1 1 auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 20px;
          line-height: 20px;

          // padding: 3px 0;
          .reply-to-friend {
            display: flex;
            cursor: pointer;
            width: 80%;
            overflow: hidden;
            font-size: 12px;

            .comment-content {
              width: 120px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .reply-friend-name {
              color: #4bbcfb;
            }
          }

          i {
            width: 10%;
            text-align: center;
            color: gray;
            font-size: 14px;
            cursor: pointer;

            &:hover {
              color: #4bbcfb;
            }
          }
        }
      }
    }
  }
}

// 不能选中
.can-not-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// 超链接样式
.a {
  text-decoration: none;
  color: #fff;

  &:link {
    color: #fff;
  }

  /* 未访问的链接 */
  &:visited {
    color: #bfbfbf;
  }

  /* 已访问的链接 */
  &:hover {
    color: #42b983;
  }

  /* 鼠标移动到链接上 */
  &:active {
    color: #ff00ff;
  }

  /* 选定的链接 */
}

.a_download {
  text-decoration: none;
  color: #bfbfbf;

  &:link {
    color: #bfbfbf;
  }

  /* 未访问的链接 */
  &:visited {
    color: #bfbfbf;
  }

  /* 已访问的链接 */
  &:hover {
    color: #bfbfbf;
  }

  /* 鼠标移动到链接上 */
  &:active {
    color: #bfbfbf;
  }

  /* 选定的链接 */
}

// 文字超出显示省略号
.ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// scroll
.scroll {
  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #dedede;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

  }
}

.scroll2 {
  &::-webkit-scrollbar {
    width: 8px;
    background-color:transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color:#f3f3f3;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.scroll3 {
  &::-webkit-scrollbar {
    width: 8px;
    background-color:transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color:#f7f7f7;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
// ::-webkit-scrollbar {
//   width: 0px;
//   height: 0px;
//   background-color: #f5f5f5;
// }

/*定义滚动条轨道 内阴影+圆角*/
// ::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
//   border-radius: 10px;
//   background-color: #f5f5f5;
// }

/*定义滑块 内阴影+圆角*/
// ::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   background-color: #555;
// }




.tribute-container {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  overflow: auto;
  display: block;
  z-index: 999999;
  max-height: 200px;


  &::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #dedede;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

  }
}

.tribute-container ul {
  width: 150px;
  margin: 0;
  margin-top: 2px;
  padding: 0;
  list-style: none;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.18);


}

.tribute-container li {
  padding: 5px 5px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333333;

  img {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    margin-right: 10px;
  }
}



/* 撑满屏幕 */
.page-fixed{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  box-sizing: border-box;
 }

.animated{
	animation-duration: .3s;
}

/* 禁止选中文本 */

.usn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


/* 强制不换行 */

.wn {
    word-wrap: normal;
    white-space: nowrap;
}


/* 强制换行 */

.wb {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

/*多行文字溢出 适用于webkit内核和移动端 */

.wess {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

/*多行文字溢出 适用于webkit内核和移动端 */

.wes {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


/*垂直居中*/

.layout-qz {
    display: flex;
    align-items: center;
}


/*左右居中*/

.layout-zy {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*两边排列*/

.layout-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*上下排列*/

.layout-sx {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*横向左右垂直居中*/

.layout-rc {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*横向靠左居中*/
.layout-lc {
  display: flex;
  justify-content: left;
  align-items: center;
}

/*横向靠左居中*/
.layout-lcn {
  display: flex;
  justify-content: left;
}

/*横向靠左*/
.layout-ac {
  display: flex;
  justify-content: left;
}

/*横向靠右*/
.layout-rcn {
  display: flex;
  justify-content: flex-end;
}

/*横向靠右居中*/
.layout-cr {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


/*纵向左右垂直居中*/

.layout-cc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*纵向左右居中*/
.layout-sc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-bc {
  display: flex;
  flex-direction: column;
  align-items: left;
}

/*清除浮动*/

.clearfix::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}


/*溢出部分省略号显示*/

.ellipsis {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.wh100 {
    width: 100%;
    height: 100%;
}

.w100 {
    width: 100%;
}

.h100{
    height: 100%;
}

.full {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



.tribute-container li.highlight {
  background: #F3F3F3;
}

.tribute-container li span {
  font-weight: bold;
}

.tribute-container li.no-match {
  cursor: default;
}

.tribute-container .menu-highlighted {
  font-weight: bold;
}
.el-tabs__item:first-child .el-icon-close{ display: none;}
.el-tabs__header{margin: 0 0 5px!important;}



.el-card-header{position: relative; height: 42px; line-height: 42px; padding: 0 15px; border-bottom: 1px solid #f6f6f6; color: #333; border-radius: 2px 2px 0 0; font-size: 14px; font-weight: bold; padding: 0 18px; border-bottom: 1px solid #e6e6e6;}
.el-card-header:before{ position: absolute; content: ''; width: 3px; height: 16px; display: block; background: #1890ff;top: 13px; left: 10px;}


.el-line{ height: 8px; background: #F7F9FA;}
.el-tabs--border-card>.el-tabs__content { padding:0px!important;}
.el-tabs--border-card > .el-tabs__header{ border-bottom: none!important;}
.el-tabs--border-card > .el-tabs__header .el-tabs__item{border: none!important;}
.gallery_bg{background: #F7F9FA!important; /*padding: 0 4px;*/}
.el-tabs--border-card{ box-shadow: none!important; border: none!important;}

.work-root>.el-tabs__content{height: calc(100vh - 100px); overflow: auto}
/*.work-root>.el-tabs__content::-webkit-scrollbar {width: 4px;}
.work-root>.el-tabs__content::-webkit-scrollbar-thumb { background-color: #f5f5f5;}*/

.new-card-header{font-size: 24px; font-family: PingFangSC, PingFang SC; font-weight: 600; color: rgba(0,0,0,0.8); padding: 12px 15px; display: flex; justify-content: space-between; }


/*
.work-root>.el-tabs__header>.el-tabs__nav-wrap >.el-tabs__nav-scroll>.el-tabs__nav{overflow-x: auto; width: calc(100vw - 145px);}
.work-root .el-tabs__nav::-webkit-scrollbar {height: 4px!important; width: 4px!important; border-radius: 2px;}
.work-root .el-tabs__nav::-webkit-scrollbar-thumb {background-color:#ccc !important; border-radius: 2px;}
*/
.work-root{width: calc(100vw - 145px)}
.work-root .el-tabs__new-tab{ display: none;}
.work-root .el-tabs__nav-wrap.is-scrollable{ padding: 0 30px;}
.work-root .el-tabs__nav-next, .work-root .el-tabs__nav-prev{ width: 30px; text-align: center; font-size: 18px;}

.remind_time{ margin-left: -135px!important;}
